@font-face {
  font-family: 'Work Sans';
  src: url(../fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --primary-heading: #301534;
  --primary-heading-accent: #AD28EB;
  --background: #F8EEFF;
  --primary-text: #8B6990;
  --white: #FFFFFF;
  --header-img: url(../images/icon-star.svg);
  --marker-img-closed: url(../images/icon-plus.svg);
  --marker-img-opened: url(../images/icon-minus.svg);
}

html {
  font-size: 16px;
}

/* Overlay - pixel proofing only */
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}
#overlay-desktop {
  width: 1440px;
  height: 900px;
  & img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
}
#overlay-mobile {
  width: 375px;
  height: 812px;
  & img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
} */


/* Utility classes */
.text-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--primary-heading);
}

body {
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}

main {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  color: var(--primary-text);
  display: grid;
  grid-template-columns: 1fr [start-content] clamp(20rem, 87.2%, 37.5rem) [end-content] 1fr;
  background: no-repeat url(../images/background-pattern-desktop.svg);
  background-color: var(--background);
  align-items: center;
}

main > * {
  grid-column: start-content / end-content;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 700;
  color: var(--primary-heading);
  margin-top: 0.15rem;
  margin-bottom: 2.1rem;
}

.faq-container {
  background-color: var(--white);
  padding: 2.5rem;
  border-radius: 1rem;
  margin-top: 0rem;
}
.faq-container .faq-accordion:nth-last-child(n+2) {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--background);
  margin-bottom: 1.5rem;
}
.faq-section-header::before {
  display: inline-block;
  content: '';
  background-image: var(--header-img);
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
}
.faq-accordion {
  details {
    & p {
      padding-top: 1.5rem;
    }
  }
  summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
    &>:is(h2, h3, h4, h5, h6) {
      font-size: inherit;
      font-weight: inherit;
    }
    &:hover {
      color: var(--primary-heading-accent);
    }
    &::after {
      content: var(--marker-img-closed);
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-left: 1rem;
    }
    [open] &::after {
      content: var(--marker-img-opened);
    }
  }
}

@media (max-width: 376px) {
  body {
    font-size: 0.875rem;
  }
  main {
    background: no-repeat url(../images/background-pattern-mobile.svg);
    background-color: var(--background);
  }
  .text-title {
    font-size: 1rem;
    line-height: 1.1rem;
    margin-top: 0.5rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.3rem;
    /* margin-top: 0.15rem; */
    margin-bottom: 1.55rem;
  }
  .faq-container {
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  .faq-section-header::before {
    background-size: contain;
    width: 24px;
    height: 24px;
  }
  .faq-container .faq-accordion:nth-last-child(n+2) {
    margin-bottom: 1.125rem;
  }
}